.div-a{
    background-color: #ffff00;
    width:650px;
    height:650px;
}

.div-b{
    background-color:#d75413;
    width:300px;
    height:300px;
}

.p-c{
    color:red;
    background-color:purple;
    font-size:23px;
    font-family: Times;
    font-weight:bold;
}

.div-d{
    width:70%;
    height:70vh;
    background-color:rgb(200, 162, 200);
}

.div-e{
    width:85vh;
    height:60%;
    background-color:rgb(142,35,107);
}